<div data-role="view" id="Attend" data-title="Welcome!" data-model="app.Attend.model" data-init="app.Attend.events.dataShow">
    
<header data-role="header">   
    <div data-role="navbar">
        <span data-role="view-title"></span>  
    </div>
</header>   
<div class="console"></div>
       <div class="card rounded">
           <p>
               Ready to join a hunt? Type the six-digit PIN that you received in your invitation e-mail here and register for push notifications:
           </p>
           
            <form>
               <ul data-role="listview" data-style="inset">
                <li class="pin">
                    <label>
                       My Hunt PIN:
                    <input type="text" name="myHuntPIN" data-bind="value: myHuntPIN" required  />
                    </label>
                </li>
               </ul>
               <button class="btn colored" style="width: 100%;margin:0 auto" data-role="button" data-bind="click: registerForHunt">Join a Hunt</button>
           </form>
      </div>

<footer data-role="footer">
            <div data-role="tabstrip">
                <a href="#Host"><div class="icon settings"></div>Host a Hunt</a>   
                <a href="#Attend"><div class="icon target"></div>Attend a Hunt</a>
        </div>
</footer> 

</div>

<div data-role="view" id="Beacons" data-title="Find a Beacon!" data-model="app.Attend.model">

<header data-role="header">   
    <div data-role="navbar">
        <span data-role="view-title"></span> 
    </div>
</header>
    
 <div class="console"></div>
  
    
    <div class="card rounded"> 
        
           
        
         <div class="buttons">
           <button data-role="button" class="start" data-bind="click: start">Start Searching</button>
            
           <button data-role="button" class="stop" data-bind="click: stop">Stop Searching</button>
        </div> 
        <hr/>
        <div>
            <button data-role="button" id="Ice" class="btn Ice" data-bind="click: claimIce" style="display:none;width:100%;margin-left:0px">I found the Ice Beacon!</button>
            <button data-role="button" id="Blueberry" class="btn Blueberry" data-bind="click: claimBlueberry" style="display:none;width:100%;margin-left:0px">I found the Blueberry Beacon!</button>
            <button data-role="button" id="Mint" class="btn Mint" data-bind="click: claimMint" style="display:none;width:100%;margin-left:0px">I found the Mint Beacon!</button>
        </div>
        
        <div id="beaconlog" class="search">
             Let's start searching for beacons!
        </div>
    
   </div>
      
 
<footer data-role="footer">
       <div data-role="tabstrip">
                <a href="#Host"><div class="icon settings"></div>Host a Hunt</a>   
                <a href="#Attend"><div class="icon target"></div>Attend a Hunt</a>
        </div>
</footer> 

</div>

