<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.estimote.sdk" version="1.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Estimote</name>
	<description>Estimote - Context for your apps</description>

	<js-module name="estimote" src="www/estimote.js">
		<clobbers target="estimote" />
	</js-module>

	<engines>
    	<engine name="cordova" version=">=3.0.0" />
  </engines>

	<platform name="ios">

		<config-file parent="/*" target="config.xml">
			<feature name="Estimote">
				<param name="ios-package" value="CDVEstimote" />
			</feature>
		</config-file>

		<framework src="CoreBluetooth.framework"/>
		<framework src="CoreLocation.framework"/>
		<framework src="SystemConfiguration.framework"/>

		<source-file framework="true" src="lib/ios/EstimoteSDK/libEstimoteSDK.a"/>

		<header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconFirmwareVO.h"/>
		<header-file src="lib/ios/EstimoteSDK/Headers/ESTFirmwareInfoVO.h"/>
		<header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconManager.h"/>
		<header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconRegion.h"/>
		<header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconVO.h"/>
		<header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconDefinitions.h"/>
		<header-file src="lib/ios/EstimoteSDK/Headers/ESTBeacon.h"/>
		<header-file src="lib/ios/EstimoteSDK/Headers/ESTDefinitions.h"/>
		

		<header-file src="src/ios/CDVEstimote.h" />
		<source-file src="src/ios/CDVEstimote.m" />

		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
			<string>This application uses your location to determine which table you're at when ordering your coffee.</string>
		</config-file>

		<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
			<string>This application monitors your location to show you promotional offers in shops you're passing by.</string>
		</config-file>

	</platform>


  <platform name="android">

      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="Estimote">
              <param name="android-package" value="com.estimote.sdk.EstimotePlugin" />
          </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.BLUETOOTH" />
          <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <service android:name="com.estimote.sdk.service.BeaconService" android:exported="false" />
      </config-file>

      <source-file src="src/android/EstimotePlugin.java" target-dir="src/com/estimote/sdk" />
      <source-file src="src/android/BluetoothError.java" target-dir="src/com/estimote/sdk" />

      <source-file src="lib/android/EstimoteSDK/estimote-sdk-preview.jar" target-dir="libs" />

  </platform>


</plugin>
